<!DOCTYPE html>
<meta charset="UTF-8">
<body>
    <h1>Register</h1>

    <form action="{{ path('register') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </fieldset>

        <fieldset>
            <label for="picture">User picture</label>
            <input type="file" id="profile_picture" name="profile_picture" required />
        </fieldset>

        <fieldset class="form-actions">
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</body>