<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="../../web/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Write Article</h1>
        <form action="{{ path('writeArticle') }}" method="POST">
            <label>Title</label>
            <input class="form-control" type="text" name="title" id="title" /> <br />

            <label>Text</label>
            <textarea class="form-control form-control-long" rows="5" name="content" id="content" ></textarea>
            <br />
            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
    <script src="web/app.min.js"></script>
</body>